
/* Footer styles */
footer {
    background: #fff; /* 흰색 배경 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-top: 1px solid #ccc;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer button {
    flex: 1; /* 버튼을 동일한 크기로 분배 */
    margin: 0; /* 버튼 간격 제거 */


    background: #fff; /* 흰색 배경 */
    color: #000; /* 검은색 텍스트 */
    font-size: 1rem;
    font-weight: bold; /* 텍스트 굵게 */
    cursor: pointer;
    padding: 0;
    box-sizing: border-box; /* 박스 크기를 경계 포함하여 계산 */
    height: 100%; /* 부모 높이를 채우도록 설정 */
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px; /* 각 버튼의 모서리 둥글게 */
}

footer button:first-child {
    border-left-width: 1px; /* 첫 번째 버튼 왼쪽 경계선 추가 */
}

footer button:hover {
    background: #f0f0f0; /* 호버 시 밝은 회색 */
}