header {
    background: #fff; /* 흰색 배경 */
    color: #000; /* 검은색 텍스트 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 100px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* 검색창 스타일 */
.search-container {
    display: flex;
    align-items: center;
    background: black;

    padding: 5px;
    border-radius: 30px;
    width: 30%; /* 검색창의 기본 너비 */
    max-width: 30%; /* 최대 너비를 화면 크기에 맞춰서 조정 */
}

#search {
    padding: 6px 12px; /* 입력 필드 내부 여백 축소 */
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 100px; /* 기본 너비를 줄임 */
    font-size: 0.9rem; /* 글씨 크기 축소 */
    transition: all 0.3s ease-in-out;
}



#search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px; /* 버튼 패딩 축소 */
    margin-left: 5px;
    font-size: 0.9rem;
}