body {
  background-image: url('/images/bg-mobile-fallback.jpg'); /* 배경 이미지 경로 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between; /* 헤더 요소 간격 */
  align-items: center; /* 정렬 */
}

/* body와 html에 Flexbox 설정 */
.map-container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */
    height: calc(100vh - 10px); /* 네비게이션 바를 제외한 전체 높이 */
}

#map {
    width: 80%;              /* 창 너비의 80% */
    height: 60%;             /* 창 높이의 60% */
    max-width: 1000px;       /* 최대 너비 설정 */
    max-height: 800px;       /* 최대 높이 설정 */
}



.upload-section {
  margin-top: 20px;
  text-align: center;
}