<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <!-- header.css 파일 링크 -->
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header>
    <div class="header-left">
        <img id="logo" src="" alt="Logo">
    </div>
    <div class="header-center">
        <button class="home-btn" onclick="window.location.href='/'">
            <h1>main</h1>
        </button>
    </div>
    <div class="header-right">
        <input type="text" placeholder="Search...">
        <button class="search-btn">
            <i class="fas fa-search"></i>  <!-- 돋보기 아이콘 -->
        </button>
    </div>
</header>

</body>
</html>
