<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="login-container">
        <h1 class="service-name">cstudy</h1>
        <input type="text" class="input-field" placeholder="아이디" required>
        <input type="password" class="input-field" placeholder="비밀번호" required>
        <div class="button-container">
            <button class="btn">회원가입</button>
            <button class="btn">로그인</button>
        </div>
        <button class="btn kakao-btn">카카오톡 로그인</button>
    </div>

</body>
</html>