<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>카카오 지도</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{kakaoApiKey}}&libraries=services"></script>
</head>
<body>
<div class="container">
    <input type="hidden" id="keyword-data" value="{{keyword}}">
    <div id="map" class="map">지도</div>
    <script src="/js/map.js"></script>
    <div class="buttons">
        <button onclick="displayMapCenter()">현재 위치</button>
        {{#isLoggedIn}}
            <button onclick="location.href='/logout'">로그아웃</button>
        {{/isLoggedIn}}
        {{^isLoggedIn}}
            <button onclick="location.href='/login'">로그인</button>
            <button onclick="location.href='/users/create'">회원가입</button>
        {{/isLoggedIn}}
        <button>리뷰 작성</button>
        <button>평점 작성</button>
        <button>평점 순 나열</button>
        <button>경로 탐색</button>
    </div>
</div>
<!-- 사용자 입력 필드 추가코드  <윤상-->
<div class="container">
    <div id="map" class="map"></div>
    <div class="buttons">
        <input type="text" id="start" placeholder="출발지" />
        <input type="text" id="end" placeholder="도착지" />
        <button onclick="findRoute()">경로 탐색</button>
        <button onclick="setMapCenterByUserLocation()">현재 위치</button>
    </div>
</div>
<!-- 지도 SDK연동 서울버전 -->
<div id="map"></div>
<script>
    const mapContainer = document.getElementById('map');
    const mapOption = {
        center: new kakao.maps.LatLng(37.5665, 126.9780), // 서울 중심 좌표
        level: 3 // 확대 레벨
    };

    const map = new kakao.maps.Map(mapContainer, mapOption);
</script>

</body>
</html>
